*,
*::after,
*::before {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row ;
    justify-content: end;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(119, 34, 204, 0.8);
}
a {
    text-decoration: none;
    color: white;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 40px;
    /* border: 1px solid black; */
}
.box h1,p {
    padding-left: 45px;
    margin: 3px;
    color: white;
}
.box img{
    width: 400px;
    padding-bottom: 10px;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.container form {
    background-color: white;
    border-radius: 5px;
    width: 400px;
    min-width: 100%;
    box-shadow: 0 2px 3px rgba(0, 0, 3, 0.3);
}
.form-header {
    height: auto;
    padding: 20px;
    border-bottom: 1px solid #bebebe;
}
.form-control {
    padding: 20px;
    padding-top: 10px !important;
}
.form-control label {
    display: inline-block;
    margin-bottom: 10px;
}
.form-control input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}

form button {
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    margin-top: 0 !important;
    width: auto;
}


/* medis query */

@media only screen and (max-width: 1082px) {
    body {
        flex-flow: column wrap;
        height: auto;
        align-items: flex-start;
    }
    .box {
        width: 100%;
        height: 50vh;
        justify-content: start;
        padding:5%;
    }
    .container {
        flex-direction: column;
        height: 600px;
        justify-content: space-around;
    }
    .container form {
        width: 600px;
    }
}

@media only screen and (max-width : 634px){
    .container form {
        width: 300px;
    }
}